@page
@model CreateModel
@{
    ViewData["Title"] = "Record creating";
}
<h1>Request URL:</h1>@Model.login_url
<br/>
<h1>Request Method:</h1>@Model.login_method
<br/>
<h1>Request Body:</h1>@Model.login_request
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.dictionaries_url
<br/>
<h1>Request Method:</h1>@Model.dictionaries_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.emptyheader_url
<br/>
<h1>Request Method:</h1>@Model.emptyheader_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.emptydetail_url
<br/>
<h1>Request Method:</h1>@Model.emptydetail_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.createheader_url
<br/>
<h1>Request Method:</h1>@Model.createheader_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.createdetail_url
<br/>
<h1>Request Method:</h1>@Model.createdetail_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.list_url
<br/>
<h1>Request Method:</h1>@Model.list_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>
