@page
@model UpdateModel
@{
    ViewData["Title"] = "Record updating";
}
<h1>Request URL:</h1>@Model.login_url
<br/>
<h1>Request Method:</h1>@Model.login_method
<br/>
<h1>Request Body:</h1>@Model.login_request
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.get_url
<br/>
<h1>Request Method:</h1>@Model.get_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.update_url
<br/>
<h1>Request Method:</h1>@Model.update_method
<br/>
<h1>Request Body:</h1> See code in Pages/update.cshtml.cs
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<div style="border:1px solid red;"></div>

<h1>Request URL:</h1>@Model.list_url
<br/>
<h1>Request Method:</h1>@Model.list_method
<br/>
<h1>Request Body:</h1> None
<br/>
<h1>Response:</h1>See console for output of application
<br/>
<br/>
